<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to delete!!</h1><br> 
   

    

    <div class="container">
        <h2>Traineer Table</h2>
        <p> This the table contain Traineers details:</p>            
        <table class="table">
          <thead>
            <tr>
                <th>ID</th>
                <th>NAMES</th>
                <th>USERNAME</th>
                <th>EMAILS</th>
                <th>DATE OF BIRTH</th>
                <th>LOCATION</th>
                <th>DELETE</th>
            </tr>
          </thead>
          <tbody>
             {% for st in Tranees %}
          
            <tr>
                <td>{{st.id}}</td>
                <td>{{ st.names }}</td>
                <td>{{ st.userName }}</td>
                <td>{{ st.email }}</td>
                <td>{{ st.dob }}</td>
                <td>{{ st.location }}</td>
                <td><a href="{%url 'delete_Trainee' id=st.id %}" style="color: red;">delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
  

</body>
</html>